<form action="/contacts/{{ contact.id }}/edit" method="POST">
  <fieldset>
    <legend>Edit Contact</legend>
    <p>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value="{{ contact.email }}" />
      <span class="error">{{ contact.errors.get('email') or '' }}</span>
    </p>
    <p>
      <label for="first_name">First Name</label>
      <input
        name="first_name"
        id="first_name"
        type="text"
        placeholder="First Name"
        value="{{ contact.first }}"
      />
      <span class="error">{{ contact.errors['first'] }}</span>
    </p>
    <p>
      <label for="last_name">Last Name</label>
      <input
        name="last_name"
        id="last_name"
        type="text"
        placeholder="Last Name"
        value="{{ contact.last }}"
      />
      <span class="error">{{ contact.errors['last'] }}</span>
    </p>
    <p>
      <label for="phone">Phone</label>
      <input
        name="phone"
        id="phone"
        type="text"
        placeholder="Phone"
        value="{{ contact.phone }}"
      />
      <span class="error">{{ contact.errors['phone'] }}</span>
    </p>
    <p>
      <button type="submit">Save Changes</button>
    </p>
  </fieldset>
</form>
<form action="/contacts/{{ contact.id }}/delete" method="post">
  <button>Delete Contact</button>
</form>
<p>
  <a href="/contacts/">Back</a>
</p>
