{% for contact in contacts %}
<tr>
  <td>
    <input
      type="checkbox"
      name="selected_contact_ids"
      value="{{ contact.id }}"
      x-model="selected"
    />
  </td>
  <td>{{ contact.first }}</td>
  <td>{{ contact.last }}</td>
  <td>{{ contact.phone }}</td>
  <td>{{ contact.email }}</td>
  <td>
    <a href="/contacts/{{ contact.id }}/edit">Edit</a>
    <a href="/contacts/{{ contact.id }}">View</a>
    <a
      href="#"
      hx-delete="/contacts/{{ contact.id }}"
      hx-swap="outerHTML swap:1s"
      hx-confirm="Are you sure you want to delete this contact?"
      hx-target="closest tr"
    >
      Delete
    </a>
  </td>
</tr>
{% endfor %} {% if contacts|length == 10 %}
<tr colspan="5" style="text-align: center">
  <td>
    {% if request.args.get('q') is not none %}
    <span
      hx-trigger="intersect once"
      hx-target="closest tr"
      hx-swap="outerHTML"
      hx-select="tbody > tr"
      hx-get="/contacts?page={{ page + 1 }}&q={{ request.args.get('q') }}"
    >
      Loading more...
    </span>
    {% else %}
    <span
      hx-trigger="intersect once"
      hx-target="closest tr"
      hx-swap="outerHTML"
      hx-select="tbody > tr"
      hx-get="/contacts?page={{ page + 1 }}"
    >
      Loading more...
    </span>
    {% endif %}
  </td>
</tr>
{% endif %}
